{% extends 'menu_page.twig' %}

{% block subtitle %}
    Вопросы{{category is defined ? ': ' ~ category.title }}
{% endblock %}

{% block inner_content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th>id</th>
                <th>Содержание</th>
                <th>Категория</th>
                <th>Автор</th>
                <th>Создан</th>
                <th>Статус</th>
                <th>Ответ</th>
                <th>Ответил</th>
                <th></th>        
            </tr>
            <tr>

            </tr>
        </thead>
        <tbody>
            {% for q in questions %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{q.id}}</td>
                <td>{{q.content}}</td>
                <td>{{q.category.title}}</td>
                <td>{{q.author_name}} (<a href="mailto:{{q.author_email}}">{{q.author_email}}</a>)</td>
                <td>{{q.created_at|date('d.m.y')}}</td>
                <td>{{q.status.title}}</td>
                <td>
                    {% if q.answer %}
                        {{q.answer.content|slice(0,50)}}...<br>
                        <form action="{{route('answer.destroy', {'id' : q.answer.id})}}" method="post" accept-charset="utf-8">
                            {{ method_field('delete') }}
                            {{ csrf_field() }}
                        <input type="hidden" name="id" value="{{user.id}}">  
                        <a href="javascript:;" onclick="parentNode.submit()">Удалить</a>
                    </form>
                        
                    {% else %}
                        <a href="{{route('answer.create', {'id' : q.id})}}">Ответить</a>
                    {% endif %}
                </td>
                <td>{{q.answer.user.name}}</td>
                <td>
                    <a href="{{route('question.hide', {'id' : q.id})}}" class="btn btn-primary">{{q.status.id == 3 ? 'Открыть' : 'Скрыть'}}</a>
                    <a href="{{route('question.edit', {'id' : q.id})}}" class="btn btn-success">Редактировать</a>

                    <form action="{{route('question.destroy', {'id' : q.id})}}" method="post" accept-charset="utf-8">
                        {{ method_field('delete') }}
                        {{ csrf_field() }}
                        <input type="hidden" name="id" value="{{user.id}}">      
                        <input type="submit" class="btn btn-danger" name="submit" value="Удалить">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}   