{% extends 'menu_page.twig' %}

{% block subtitle %}
    Темы <a href="{{route('category.create')}}" class="btn btn-success" title="Добавить тему"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
{% endblock %}

{% block inner_content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th>id</th>
                <th>Название</th>
                <th>Вопросов</th>
                <th>Скрытых</th>
                <th>Неотвеченных</th>
            </tr>
        </thead>
        <tbody>
            {% for c in categories %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{c.id}}</td>
                <td><a href="{{route('question.index_by_category', {'id' : c.id})}}">{{c.title}}</a></td>
                <td>{{c.questions|length}}</td>
                <td>{{c.questionsHidden|length}}</td>
                <td>{{c.questionsPending|length}}</td>
                <td>
                    <a href="{{route('category.edit', {'id' : c.id})}}" class="btn btn-success">Редактировать</a>

                    <form action="{{route('category.destroy', {'id' : c.id})}}" method="post" accept-charset="utf-8">
                        {{ method_field('delete') }}
                        {{ csrf_field() }}
                        <input type="hidden" name="id" value="{{user.id}}">      
                        <input type="submit" class="btn btn-danger" name="submit" value="Удалить">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}   